---

---

<div class="container w-11/12 mx-auto pt-[120px]" id="prototipos">

    <!-- Prototipos -->
    <section class="w-[100%] text-center mb-20 flex flex-wrap lg:flex-nowrap items-center justify-center gap-5">
        <div class="bg-[#04251d] p-5 mb-20 w-full">
            <div class="">
                <h1 class="mb-1 text-lg lg:text-2xl font-bold text-[#c99d67]">PROTOTIPO DE CASA</h1>
                <div class="w-full bg-white h-px my-6"></div>
                <div class="text-white flex-row text-lg font-light">
                    <div class="flex gap-6 mx-auto justify-center">
                        <img class="object-contain" width="48" height="48" src="images/superficie.png"
                            alt="surface" />
                        <ul>
                            <li>Terreno de 75 m2.</li>
                            <li>5x15 m</li>
                        </ul>
                    </div>
                    <div class="w-full bg-white h-px my-6"></div>
                    <p class="py-1">110 m2 de Construcción</p>
                    <p class="py-1">2 y 3 Recámaras</p>
                    <p class="py-1">2.5 baños</p>
                    <p class="py-1">Cocina</p>
                    <p class="py-1">Sala</p>
                    <p class="py-1">Comedor</p>
                    <p class="py-1">Cochera 1 Auto</p>
                    <p class="py-1">Área de Lavado</p>
                </div>
            </div>
        </div>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                    <h4 class="text-2xl">Planta Baja</h4>
                    <img src="images/planta-baja.jpg" class="w-full object-contain max-h-[400px]"/>
              </div>
              <div class="swiper-slide">
                    <h4 class="text-2xl">2 Recámaras</h4>
                    <img src="images/planta-alta-2.jpg" class="w-full object-contain max-h-[400px]"/>
              </div>
              <div class="swiper-slide">
                    <h4 class="text-2xl">3 Recámaras</h4>
                    <img src="images/planta-alta-3.jpg" class="w-full object-contain max-h-[400px]"/>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
    </section>
    
</div>


