---
import { getCollection } from "astro:content";
const allPost = await getCollection("posts");
import BlogPost from "../../components/BlogPost.astro";
import Layout from "../../layouts/Layout.astro";
import PagetTitle from "../../components/PagetTitle.astro";
---
<Layout title="Nuestro Blog | DivsaPV">
    <PagetTitle title="Nuestro Blog" img="/grupo-divsa-pv-constructora.jpg"/>
    <div class="m-5">
        <div class="max-w-7xl mx-auto">
            <div class="grid md:grid-cols-2 gap-5">
                {
                    allPost.map((post) => {
                        return(
                                <BlogPost post={post}/>
                        )
                    })
                }
            </div>  
        </div>

    </div>
</Layout>