---

---

<head>
    <link rel="stylesheet" href="../style.css"/>
</head>

<div class=" w-screen- h-screen flex justify-center ">
    <div class="justify-center my-auto">
        <img src="images/Logo-divsa.JPG" class="w-[15vw] h-[20vh] mx-auto ">
        <h2 class="text-xl lg:text-5xl font-bold text-[#0e3855]">Coming Soon</h2>        
    </div>
</div>