---

---
<div class="relative h-screen">
    <div
        style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
        class="swiper mySwiper2"
    >
        <div class="swiper-wrapper">
            <div class="swiper-slide bg-[url('/tatei-main.webp')] h-screen relative bg-center px-6">
                <div class="flex flex-col h-full justify-center max-w-7xl mx-auto px-5 ">
                    <h2 class="text-[#fff] z-10 pb-5 text-[27px]  leading-[30px] md:text-[60px] md:leading-[70px]">Desarrolladora <br>  <span class="text-accent"> Inmobiliaria </span></h2>
                    <p class="text-[#fff] z-10 text-[25px] leading-[32px] md:text-[40px] md:leading-[55px]">Innovación, Confianza<br> y Compromiso.</p>
                </div>
                <div class="absolute top-0 bottom-0 right-0 left-0 bg-main opacity-65">
                </div>
            </div>
            <div class="swiper-slide bg-[url('/construccion-1.jpg')] h-screen relative bg-center px-6">
                <div class="flex flex-col h-full justify-center max-w-7xl mx-auto px-5 ">
                    <h2 class="text-[#fff] z-10 pb-5 text-[27px]  leading-[30px] md:text-[60px] md:leading-[70px]">Constructora de <br>  <span class="text-accent">  Proyectos </span></h2>
                    <p class="text-[#fff] z-10 text-[25px] leading-[32px] md:text-[40px] md:leading-[55px]">Calidad y Innovación,<br> En cada Estructura.</p>
                </div>
                <div class="absolute top-0 bottom-0 right-0 left-0 bg-main opacity-65 bg-center">
                </div>
            </div>
            <div class="swiper-slide bg-[url('/direccion-de-proyectos-hero.jpg')] h-screen relative bg-center px-6">
                <div class="flex flex-col h-full justify-center max-w-7xl mx-auto px-5 ">
                    <h2 class="text-[#fff] z-10 pb-5 text-[27px]  leading-[30px] md:text-[60px] md:leading-[70px]">Dirección  de<br>  <span class="text-accent"> Proyectos </span></h2>
                    <p class="text-[#fff] z-10 text-[25px] leading-[32px] md:text-[40px] md:leading-[55px]">Guiando Proyectos y Transformando Espacios<br>Con Alto Valor Arquitectónico.</p>
                </div>
                <div class="absolute top-0 bottom-0 right-0 left-0 bg-main opacity-65">
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <div class="hidden  bottom-0 w-full">
        <div class=" max-w-7xl mx-auto">
            <div class="swiper mySwiper max-w-[36rem] float-right">
                <div class="swiper-wrapper text-xl rounded-t-md text-center h-full text-[#fff] bg-main font-[Inter]">
                    <div class="swiper-slide p-3 rounded-tl-md flex justify-center items-center bg-main mr-0 ">Desarrolladora Inmobiliaria</div>
                    <div class="swiper-slide p-3 flex justify-center items-center bg-main mr-0 ">Constructora <br><br></div>
                    <div class="swiper-slide p-3 rounded-tr-md flex justify-center items-center bg-main mr-0 ">Dirección de Proyectos</div>
                </div>
            </div>
        </div>
    </div>
</div>
