---
---
<div class="px-5" id="contacto">
    <div class="max-w-7xl mx-auto mt-10 ">
        <div class="flex gap-10 flex-col md:flex-row">
            <div class="w-full md:w-1/3">
                <h2 class="mb-5">Contactanos</h2>
                <div>
                    <p class="mb-3">
                        <i class="fa-solid fa-location-dot pr-1 text-accent text-2xl"></i>
                        Centro Empresarial, Nuevo Vallarta Nayarit.
                        Piso 4, Oficina 2410  
                    </p>
                    <p class="mb-3">
                        <i class="fa-solid fa-phone pr-1 text-accent text-2xl"></i> 322xxxxxxx
                    </p>
                    <p class="mb-3">
                        <i class="fa-brands fa-square-whatsapp pr-1 text-accent text-2xl"></i> 322xxxxxxx
                    </p>
                    <p class="mb-3">
                        <i class="fa-solid fa-envelope pr-1 text-accent text-2xl"></i> info@grupodivsa.mx
                    </p>
                </div>
            </div>
            <div class="w-full md:w-2/3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14929.242523320127!2d-105.2960052!3d20.697607!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842146a4987d0337%3A0xb93b92efcc8dd4f5!2sCentro%20Empresarial%20Nuevo%20Vallarta!5e0!3m2!1sen!2smx!4v1705694146629!5m2!1sen!2smx" width="100%" height="450" style="border:0;" loading="lazy" ></iframe>
            </div>
        </div>
    </div>
</div>