---

---
<div class="px-5" id="experiencia">
    <div class="max-w-7xl mx-auto mt-16  mb-10">
        <h2 class="mb-10 text-center">Nuestra <span class="text-accent">Experiencia</span></h2>
        <div class="swiper mySwiper3" style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/grupo-divsa-2.png"/>
                </div>
                <div class="swiper-slide">
                    <img src="/grupo-divsa-1.jpg"/>
                </div>

                <div class="swiper-slide">
                    <img src="/grupo-divsa-3.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src="/grupo-divsa-4.jpg"/>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <a class="bg-accent text-[#fff] rounded-md px-4 py-2 text-2xl uppercase block mx-auto w-fit font-[Inter] transition-colors hover:bg-main" href="#"><i class="fa-solid fa-image text-[#fff] pr-2   "> </i>  Ver Galería</a>
</div>
