---

---
<div class="px-5" id="experiencia">
    <div class="max-w-7xl mx-auto mt-16 ">
        <h2 class="mb-10 text-center">Nuestra <span class="text-accent">Experiencia</span></h2>
        <div class="swiper mySwiper3">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/grupo-divsa-2.png"/>
                </div>
                <div class="swiper-slide">
                    <img src="/grupo-divsa-1.jpg"/>
                </div>

                <div class="swiper-slide">
                    <img src="/grupo-divsa-3.jpg"/>
                </div>
                <div class="swiper-slide">
                    <img src="/grupo-divsa-4.jpg"/>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>
