---

---
<header class="m-2 absolute w-full z-10">
    <div class="flex items-center max-w-7xl mx-auto">
        <div class="w-52">
            <a href="/">
                <img  src="/logo-divsa-blanco.webp"/>
            </a>
        </div>
        <div class="md:hidden flex justify-end w-full">
            <i class="fa-solid fa-bars-staggered text-[#fff] mr-10 text-2xl z-[10]" id="btn-menu"></i>
        </div>
        <div class="w-full  justify-end gap-5 pr-5 text-[#fff] text-lg font-['Inter'] uppercase tracking-wider hidden md:flex">
            <a href="/">Inicio</a>
            <a href="/#nosotros">Nosotros</a>
            <a href="/#experiencia">Experiencia</a>
            <a href="/blog">Blog</a>
            <a href="/#contacto">Contacto</a>
            <a href="#">Social</a>
        </div>

        <div class="hidden top-0 bottom-0 left-0 right-0 bg-main h-screen flex items-center justify-center z-10 fixed" id="mobile-menu">
            <div class="flex flex-col gap-5">
                <a class="text-center text-[#fff] text-5xl" href="/">Inicio</a>
                <a class="text-center text-[#fff] text-5xl" href="/#nosotros">Nosotros</a>
                <a class="text-center text-[#fff] text-5xl" href="/#experiencia">Experiencia</a>
                <a class="text-center text-[#fff] text-5xl" href="/blog">Blog</a>
                <a class="text-center text-[#fff] text-5xl" href="/#contacto">Contacto</a>
                <a class="text-center text-[#fff] text-5xl" href="#">Social</a>
            </div>
            <div class="text-4xl absolute top-10 right-10 text-[#fff]" id="close-menu"><i class="fa-solid fa-xmark"></i></div>
        </div>

    </div>
</header>