---
const {title} = Astro.props
const {img} = Astro.props
---

<div class="h-[30rem] bg-cover bg-center relative" style={`background-image: url('${img}')`}>
    <div class="mx-5 flex items-end h-full ">
        <div class="max-w-5xl mx-auto  z-[1]">
                <h1 class="pb-10 text-[#fff] text-center">{title}</h1>
        </div>
    </div>
    <div class="absolute top-0 bottom-0 left-0 right-0 bg-main opacity-70"></div>
</div>