---
import Layout from '../../layouts/tzicuri/LayoutTzicuri.astro';
import Banner from '../../components/tzicuri/Banner.astro';
import Prototipos from '../../components/tzicuri/Prototipos.astro';
---

<Layout title="Tzicuri">
	<main>

        <Banner />

		 <!-- NOSOTROS -->
		 <section class="w-full mx-auto lg:py-20 py-12" id="nosotros">
			<div class="flex flex-wrap justify-center sm:flex-nowrap lg:gap-24 gap-12 w-[90%] mx-auto">
				<div class="sm:w-1/2 my-auto">
					<img class="h-36 mx-auto mb-3" src="images/Tzicuri-logo-color.png" alt="">
					<h1 class="text-xl mb-5 text-center">Tzicuri el Porvenir: Un Coto Privado en Bahía de Banderas</h1>
	
					<p class="tracking-wide text-lg font-light text-justify">
						<strong> Tzicuri</strong> el Porvenir es un Coto
						Privado de 50 viviendas ubicado en el municipio de San
						José del Valle, Bahía de Banderas. Tzicuri te ofrece una variedad
						de amenidades pensadas para toda la familia, en
						las que destacan: Casa Club, Alberca, Seguridad las 24 horas,
						y un ambiente agradable para todos. <br /><br />
	
						Los más de 800 m2 de áreas verdes que ofrece Tzicuri están
						basados en el respeto a la vegetación de la región, utilizando
						flores y plantas que van ligados a lo que podemos ver
						en Bahía de Banderas, generando un valor paradisiaco al
						proyecto. <br /><br />
					</p>
				</div>
				<div class="sm:w-1/2">
					<img class="w-full lg:h-[80vh] h-full object-cover object-center rounded" src="images/Alberca-08-L.webp"
						alt="Tizate Exterior" />
				</div>
			</div>
		</section>


		<!-- Master Plan -->
		<section class="mb-12 px-5">
			<div class="mx-auto max-w-[900px] text-center mb-10">
				<h2 class="text-center text-xl lg:text-5xl font-bold text-[#c99d67] mb-5">Explora nuestro Masterplan</h2>
				<p class="text-xl">Un espectacular diseño que abarca 50 elegantes viviendas enclavadas en el corazón de Bahía de Banderas. Este mapa maestro te muestra la disposición meticulosa de nuestras casas en un entorno natural impresionante. Descubre cómo cada residencia se integra perfectamente en un paisaje de más de 800 m² de exuberantes áreas verdes, creando un ambiente paradisiaco donde la armonía y el lujo se combinan en una experiencia de vida única.</p>
			</div>
			<img class="w-full h-full mx-auto max-w-[900px]" src="images/masterplan.webp" alt="">
		</section>


		 <!-- Porque el porvenir -->
		 <section class="w-full lg:py-20 py-12 h-[450px] flex flex-col justify-center items-center text-white text-center " id="promotional">
			<div class="max-w-[900px] mx-auto px-5">
	
				<h4 class="text-xl lg:text-3xl  font-bold">¿POR QUÉ EL PORVENIR?</h4>
				<p class="lg:text-lg text-base font-light pt-6">El corredor turístico de la Riviera Nayarit se ha
					posicionado como uno de
					los mejores lugares para invertir en todo el país, esto gracias a la demanda turística, específicamente
					de los extranjeros.
					Hoy en día la inversión de propiedades en esta zona ha tenido una plusvalía que alcanza hasta el 22% en
					el año 2022. Estos datos hacen de este corredor turístico una zona de gran oportunidad para invertir en
					bienes inmobiliarios.
				</p>
			</div>
		</section>
		

		<Prototipos />


		<!-- Galeria -->
		<div class="container w-11/12 mx-auto ">
			<div class="swiper mySwiper2">
				<div class="swiper-wrapper">
				  <div class="swiper-slide">
					<img src="images/home office-12-L.webp" alt="" />
				  </div>
				  <div class="swiper-slide">
					<img src="images/Interior sala-02L.webp" alt="" />
				  </div>
				  <div class="swiper-slide">
					<img src="images/Recamara-04L.webp" alt="" />
				  </div>
				  <div class="swiper-slide">
					<img src="images/Recamara-05L.webp" alt="">            
				  </div>
				</div>
				<div class="swiper-pagination"></div>
			  </div>
		</div>


		<!-- AMENIDADES -->
		<section id="amenidades" class="pt-16">
			<div class=" w-full mx-auto flex flex-col-reverse md:flex-row">
				<div>
					<img class="w-full h-full md:h-[700px] object-cover object-left"
						src="images/Ingreso-casa-club-10-L.webp" alt="Ingreso casa club" />
				</div>
				<div class="md:w-1/3 bg-[#04251d] flex justify-center items-center flex-col py-20 md:py-6 px-5">
					<h2 class="text-center text-white font-bold lg:text-3xl text-xl pb-6">AMENIDADES</h2>
					<div class=" ">
						<div
							class="gap-10 flex-wrap justify-center items-center text-white font-light text-lg md:text-xl py-6 md:py-2 px-5  ">
							<div class="flex items-center gap-3 py-3">
								<img src="images/security.png" alt="">
								Seguridad 24/7
							</div>
							<div class="flex items-center gap-3 py-3">
								<img src="images/pool.png" alt="">
								Alberca
							</div>
							<div class="flex items-center gap-3 py-3">
								<img src="images/terraza.png" alt="">
								Terraza Casa Club
							</div>
							<div class="flex items-center gap-3 py-3">
								<img src="images/access.png" alt="">
								Caseta de acceso
							</div>
							<div class="flex items-center gap-3 py-3">
								<img src="images/areas-verdes.png" alt="">
								Áreas verdes
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	

		<div class="container w-11/12 mx-auto">
			<!-- gallery -->
			<div class="mx-auto flex lg:full container my-20 overflow-x-clip">
				<div class="panel active" style="background-image: url(images/FACHADAS-07-L.webp)">
					<h3>Exterior Fachadas</h3>
				</div>
				<div class="panel" style="background-image: url(images/Interior-comedor-03L.webp)">
					<h3>Interior Comedor</h3>
				</div>
				<div class="panel" style="background-image: url(images/Media-room-06-L.webp)">
					<h3>Interior Room</h3>
				</div>
			</div>
	

			<!-- Ubicación -->
			<section id="amenidades" class="mt-20">
				<div class=" w-full mx-auto flex flex-col-reverse md:flex-row">
	
					<div class="md:w-1/3 bg-[#04251d] flex justify-center items-center flex-col py-12 md:py-0">
						<h2 class="text-center text-[#c99d67] font-bold lg:text-3xl text-xl md:pb-12 pb-6 mx-6">Ubicaciones
							Claves</h2>
						<div>
							<div
								class="gap-10 flex-wrap justify-center items-center text-white font-light text-xl md:text-xl px-5  ">
								<div class="flex items-center gap-3 py-3">
									1. Plaza Las Palmas
								</div>
								<div class="flex items-center gap-3 py-3">
									2. Av. Palma Real
								</div>
								<div class="flex items-center gap-3 py-3">
									3. Calle 16 de octubre
								</div>
								<div class="flex items-center gap-3 py-3">
									4. Plaza Principal San Vicente
								</div>
								<div class="flex items-center gap-3 py-3">
									5. Restaurante Bar Fernandos
								</div>
								<div class="flex items-center gap-3 py-3">
									6. Hospital General 33
								</div>
								<div class="flex items-center gap-3 py-3">
									7. Carretera 200 Tepic-Vallarta
								</div>
							</div>
						</div>
					</div>
					<div>
						<img class="w-full h-full md:h-[700px] object-cover object-left" src="images/tzicuri-mapa.webp" />
					</div>
				</div>
			</section>
	

			<!-- Contacto -->
			<section class=" w-full mx-auto body-font relative pt-[120px]" id="contacto">
				<div class=" pb-20 mx-auto flex sm:flex-nowrap flex-wrap">
					<div
						class="lg:w-2/3 w-full lg:h-[65vh] h-[60vh] bg-gray-300 overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative">
						<iframe width="100%" height="100%" class="absolute inset-0" frameborder="0" title="map"
							marginheight="0" marginwidth="0" scrolling="no"
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14923.67691389261!2d-105.25187389818922!3d20.754067643235675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842147c77303fe19%3A0x8001f906c7cf25f!2sEl%20Porvenir%2C%20Nay.!5e0!3m2!1ses-419!2smx!4v1696617930935!5m2!1ses-419!2smx"></iframe>
					</div>
					<div class="lg:w-1/3 md:w-1/2 bg-white flex flex-col md:ml-auto w-full md:py-12 mt-12 md:mt-0">
						<h2 class="mb-1 text-xl lg:text-3xl font-bold text-[#c99d67]">CONTACTO</h2>
						<p class="tracking-wide text-lg font-light py-3">Tienes alguna pregunta? Envianos un mensaje y nos
							pondremos en contacto contigo.</p>
						<div class="relative mb-4 text-xl font-light">
							<a href="tel:+523222249400" class=" flex gap-3"><i
									class="fa-brands fa-whatsapp text-[#04251d] transition-colors text-xl"></i>322 224
								9400</a>
						</div>
						<div class="relative mb-4 text-xl font-light">
							<a href="" target="_blank" class="flex gap-3"><i
									class="fa-brands fa-facebook text-[#04251d] transition-colors text-xl"></i> Tzicuri El
								Porvenir</a>
						</div>
						<div class="relative mb-4 text-xl font-light">
							<a href="" target="_blank" class="flex gap-3"><i
									class="fa-brands fa-instagram text-[#04251d] transition-colors text-xl"></i>@Tzicuri
								Bahia</a>
						</div>
						<div class="relative mb-4 text-xl font-light">
							<a href="mailto:info@fpbienesraices.com" class="flex gap-3"><i
									class="fa-solid fa-envelope text-[#04251d] transition-colors text-xl"></i>info@fpbienesraices.com</a>
						</div>
						<div class="relative mb-4 text-xl font-light">
							<a href="" target="_blank" class="flex gap-3"><i
									class="fa-solid fa-location-dot text-[#04251d] transition-colors text-xl"></i>El
								Porvenir, Nayarit</a>
						</div>
						<p class="text-xl">
						Descarga el Brochure <a href="files/brochure-tzicuri.pdf" target="_blank" class="text-white px-2 rounded-md bg-[#04251d]">aquí ⬇️</a> para conocer más sobre el proyecto.</a>
						</p>
	
					</div>
				</div>
			</section>
	

			<!-- logos -->
			<section class="lg:mx-24 mx-auto pb-20">
				<div class="grid lg:grid-cols-4 grid-cols-2 gap-10">
					<div class="w-full  h-[20vh]" style='background-image: url("images/FP-Bienes-Raices-y-Soluciones_1.webp"); background-size: contain; background-repeat: no-repeat; background-position: center;'>
					</div>
					<div class="w-full  h-[20vh]" style='background-image: url("images/logo-ampi.png"); background-size: contain; background-repeat: no-repeat; background-position: center;'>
					</div>
					<div class="w-full h-[20vh]" style='background-image: url("images/logo-abbath.jpeg"); background-size: contain; background-repeat: no-repeat; background-position:center;'>
					</div>
					<div class="w-full h-[20vh]" style='background-image: url("images/Logo-divsa.JPG"); background-size:contain; background-repeat: no-repeat; background-position: center;'>
					</div>
				</div>
			</section>
		</div>


	</main>
</Layout>
